  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
  }
  
  thead {
    background-color: #F2F4F7;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }

  td {
    font-size: 13px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #F2F4F7;
    cursor: pointer;
  }
  
  .status {
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
  }
  
  .status.active {
    background-color: #e6f9e6;
    color: #007b00;
  }
  
  .expired {
    background-color: #fdeaea;
    color: #e72b2b;
  }
  
  .deactivated {
    background-color: #f1f1f4;
    color: #33333363;
  }

  .more-options-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }